@{
    ViewData["Title"] = "Home Page";
}

<style>
    .catchaBox {
        display: flex;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        height: 38px;
    }

    .cap-img {
        float: left;
        width: 100%;
    }

        .cap-img img {
            width: 100%;
            height: 38px;
        }

    .registration-form .mobile-veirify i {
        font-size: 0.9rem;
        transition: 0.5s;
    }

    .refresh-btn {
        color: #fff;
        background: #2a4a32;
        display: flex;
        align-items: center;
        height: 38px;
        justify-content: center;
        width: 38px;
        float: right;
    }

        .refresh-btn:hover {
            color: #fff;
        }

            .refresh-btn:hover i {
                transform: rotate(45deg);
            }
</style>

<div class="container shadow rounded-2">
    <div class="row p-3">
        <div class="col-md-8">
            <div>
                <img src="/img/hero-bg.jpg" width="100%" alt="">
            </div>
        </div>
        <div class="col-md-4 align-self-lg-center">
            <div class="p-3 shadow">
                <h1 class="text-center">Login</h1><br />
                <div class="col-md-12 p-2 form-group">
                    <input id="UserId" placeholder="Enter User ID" class="form-control shadow" />
                </div>
                <div class="col-md-12 p-2 form-group">
                    <input id="Password" placeholder="Enter Password" class="form-control shadow" />
                </div>
                <div class="row col-md-12 p-2 m-1 form-group">
                    <div class="col-md-7 form-group">
                        <input id="custcode" placeholder="Enter Captcha" class="form-control shadow" />
                    </div>
                    <div class="catchaBox col-md-5 form-group">
                        <div class="cap-img">
                            <img id="imgcode" class="authcode" src="@Url.Action("GetAuthCode","Home")">
                        </div>
                        <a id="switchCode" href="javascript:void(0);" class="refresh-btn"><i class="bi bi-arrow-clockwise font-weight-bold"></i></a>
                    </div>
                </div>
                <div class="col-md-12 p-3 text-center form-group">
                    <input type="button" id="Login" value="Login" class="btn btn-primary shadow" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<script>

    $(document).ready(function () {
        $("#Login").click(function () {
            debugger
            var login = {
                EMail: $("#UserId").val(),
                Password: $("#Password").val(),
            };
            alert($("#UserId").val())
            alert($("#Password").val())
            $.getJSON("/Home/Login", login.EMail + login.Password, function (data) {
                alert(data);
                if (data == 2) {
                    alert("Login Success");
                    //window.location.href = '/Exam/AdminDashboard/';
                }
                else {
                    alert("Check your User ID and Password");
                }
            });
        });
    });


    $("#switchCode").click(function () {
        $("#imgcode").attr("src", '@Url.Content("~/")' +"Home/GetAuthCode?time=" + Math.random());
        });
</script>